.catalog {
    padding-top: 27px ;
    background-image: url('./../img/top_background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;

}
.catalog__inner-aside {
    width: 24%;
}
.catalog__inner-content {
    width: 76%;
}
.catalog__content {
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog__title_slider {
    margin-top: 43px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    padding-left: 32px;
}
.catalog__title_slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    background-image: url('./../img/icons/like.svg');
}
.catalog__slider {
    width: 972px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    }
.catalog__slider_btn {
    display: block;
    background: rgba(4, 78, 244, 0.2);
    background-image: url('./../img/icons/arow.svg');
    background-repeat: no-repeat;
    background-position:center;
    width: 48px;
    height: 48px;
    position: absolute;
    right: -22px;
    top: 33%;
    border-radius: 50%;

}