.catalog {
    padding-top: 27px ;
    background-image: url('./../img/top_background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 45px;

}
.catalog__inner-aside {
    width: 24%;
}
.catalog__inner-content {
    width: 76%;
}
.catalog__content {
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog__title_slider {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    padding-left: 32px;
    margin-bottom: 27px;
}
.catalog__title_slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    background-image: url('./../img/icons/like.svg');
}
.catalog__slider {
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 44px;
    }
.catalog__slider_btn {
    display: block;
    background: rgba(4, 78, 244, 0.2);
    background-image: url('./../img/icons/arow.svg');
    background-repeat: no-repeat;
    background-position:center;
    width: 48px;
    height: 48px;
    position: absolute;
    right: -22px;
    top: 33%;
    border-radius: 50%;

}
.catalog__pages-list {
    display: flex;

}
.catalog__wrapper_pages {
    width: 300px;
}
.catalog__pages_dotted {
    display: inline-block;
    width: 5%;
    height: 55%;
    border-bottom: 1px dotted;
    margin-right: 12px;
}

.catalog__pages_item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 24px;
    height: 24px;
    }

.catalog__pages_item_active {
border-radius: 50%;
background-color: rgba(4, 78, 244, 0.2);
}
.catalog__pages_item:last-child {
    margin-right: 48px;
}