.breadcrumbs {
&__list {
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
        display: inline-block;
        text-decoration: none;
        margin-right: 30px;
        position: relative;
        font-family: 'Tilda Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #7F8187;
        padding-bottom: 5px;
        &::after {
            content: '';
            position: absolute;
            right: -25px;
            top: 6px;
            background-image: url('./../img/icons/arrows.svg');
            width: 20px;
            height: 6px;

        }
        &:last-child::after {
            display: none;
        }
    }
}
}
.breadcrumbs__list-item_active {
    border-bottom: 2px solid $color-primary;
}
