.button {
border: none;
background: transparent;
cursor: pointer;

}
.button_show {
    background: transparent;
    font-family: 'Tilda Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.button_price {
    font-size: 16px;
    line-height: 19px;
    color: #848484;
}
.button__city {
    padding: 4px;
    width: 50%;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid $color-border;
}
.button__city_active {
    font-weight: 500;
    border: 2px solid $color-primary;
}
.button_aside {

    margin-top: 12px;
    width: 100%;
    background-color: $color-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 0;
}
.button_pages {
    padding: 7px 26px;
    font-size: 14px;
    line-height: 17px;
}
.button_pages-list {
    background: $color-primary;
    color: $color-additional;
    margin-right: 94px;

}
.button_pages-back {
    border: 1px solid $color-border;
    border-radius: 2px;
    color: $color-border;
    margin-right: 48px;


}
.button_pages-next {
    border: 1px solid $color-primary;
}
.button_call {
    margin: 0 auto;
    max-width: 200px;
    font-size: 19px;
    line-height: 23px;
margin-top: 45px;
    padding: 13px 60px;
    background: #FF0000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: $color-additional;
}