.button {
border: none;
background: transparent;
cursor: pointer;
font-family: "Tilda Sans", sans-serif;

}
.button_show {
    background: transparent;
    font-family: 'Tilda Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.button_price {
    font-size: 16px;
    line-height: 19px;
    color: #848484;
}
.button__city {
    padding: 4px;
    width: 50%;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid $color-border;
}
.button__city_active {
    font-weight: 500;
    border: 2px solid $color-primary;
}
.button_aside {

    margin-top: 12px;
    width: 100%;
    background-color: $color-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 0;
}
.button_pages {
    padding: 7px 26px;
    font-size: 14px;
    line-height: 17px;
}
.button_pages-list {
    background: $color-primary;
    color: $color-additional;
    margin-right: 94px;

}
.button_pages-back {
    border: 1px solid $color-border;
    border-radius: 2px;
    color: $color-border;
    margin-right: 48px;


}
.button_pages-next {
    border: 1px solid $color-primary;
}
.button_call {
    margin: 0 auto;
    max-width: 200px;
    font-size: 19px;
    line-height: 23px;
margin-top: 45px;
    padding: 13px 60px;
    background: #FF0000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: $color-additional;
}
.button_price-city {
    font-size: 14px;
    line-height: 17px;
    color: #D9D9D9;
}
.button_price-city-active {
    color: #FF0000;
}
.button_price {
    margin-top: 4px;
   color: $color-primary;
}
.button_feature {
    margin-top: 32px;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #848484;
    }
.button__descr {

    padding: 13px 0;
    width: 416px;
    font-size: 24px;
    line-height: 29px;
}
.button__descr_call {
    margin-top: 16px;
    color: #FFFFFF;
    background-color: $color-primary;
    margin-bottom: 7px;
}
.button__descr_request {
    border: 2px solid $color-primary;
}
.button__main_descr {
    padding-right: 20px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 20px;
    position: relative;
}
.button__main_descr::after {
    position: absolute;
    content: '';
    display: block;
    top: 3px;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: $color-primary;
}
.button__main_descr_active {
font-weight: 700;
}
.button__main_descr:before {
    position: absolute;
    content: '';
    display: block;
    top: 3px;
    left: -24px;
    width: 1px;
    height: 20px;
    background-color: $color-primary;
}
.button__descr_text {
    color: $color_border;
    font-size: 14px;
    line-height: 17px
}