.phone {
    text-decoration: none;
    font-family: 'Tilda Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: $color-additional;
}