.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
}