a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

html {
  font-size: 10px;
}

body {
  font-family: "Tilda Sans", sans-serif;
}

.phone {
  text-decoration: none;
  font-family: "Tilda Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.icon_telegram {
  background-image: url("./../img/icons/telegram.svg");
  margin-right: 16px;
}

.icon_youtube {
  background-image: url("./../img/icons/youtube.svg");
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs__list-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
  font-family: "Tilda Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7F8187;
  padding-bottom: 5px;
}
.breadcrumbs__list-item::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 6px;
  background-image: url("./../img/icons/arrows.svg");
  width: 20px;
  height: 6px;
}
.breadcrumbs__list-item:last-child::after {
  display: none;
}

.breadcrumbs__list-item_active {
  border-bottom: 2px solid #044EF4;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Tilda Sans", sans-serif;
}

.button_show {
  background: transparent;
  font-family: "Tilda Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.button_price {
  font-size: 16px;
  line-height: 19px;
  color: #848484;
}

.button__city {
  padding: 4px;
  width: 50%;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #BEBEBE;
}

.button__city_active {
  font-weight: 500;
  border: 2px solid #044EF4;
}

.button_aside {
  margin-top: 12px;
  width: 100%;
  background-color: #044EF4;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 9px 0;
}

.button_pages {
  padding: 7px 26px;
  font-size: 14px;
  line-height: 17px;
}

.button_pages-list {
  background: #044EF4;
  color: #FFFFFF;
  margin-right: 94px;
}

.button_pages-back {
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  color: #BEBEBE;
  margin-right: 48px;
}

.button_pages-next {
  border: 1px solid #044EF4;
}

.button_call {
  margin: 0 auto;
  max-width: 200px;
  font-size: 19px;
  line-height: 23px;
  margin-top: 45px;
  padding: 13px 60px;
  background: #FF0000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: #FFFFFF;
}

.button_price-city {
  font-size: 14px;
  line-height: 17px;
  color: #D9D9D9;
}

.button_price-city-active {
  color: #FF0000;
}

.button_price {
  margin-top: 4px;
  color: #044EF4;
}

.button_feature {
  margin-top: 32px;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #848484;
}

.button__descr {
  padding: 13px 0;
  width: 416px;
  font-size: 24px;
  line-height: 29px;
}

.button__descr_call {
  margin-top: 16px;
  color: #FFFFFF;
  background-color: #044EF4;
  margin-bottom: 7px;
}

.button__descr_request {
  border: 2px solid #044EF4;
}

.tabs__btn-item {
  padding-right: 20px;
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
  position: relative;
}

.tabs__btn-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 3px;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #044EF4;
}

.tabs__btn-item-active {
  font-weight: 700;
}

.tabs__btn-item:before {
  position: absolute;
  content: "";
  display: block;
  top: 3px;
  left: -24px;
  width: 1px;
  height: 20px;
  background-color: #044EF4;
}

.button__descr_text {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 17px;
}

.tabs__content_item {
  display: none;
}

.tabs__content_item_active {
  display: block;
}

.navigation {
  display: flex;
  max-width: 720px;
  padding: 0;
}
.navigation__list {
  list-style: none;
  margin-right: 50px;
}
.navigation__list:last-child {
  margin-right: 33px;
}
.navigation__item {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.navigation__item_active {
  border-bottom: 1px solid #ffffff;
}

.navigation__footer {
  margin: 0 auto;
}

.catalog {
  padding-top: 27px;
  background-image: url("./../img/top_background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 45px;
}

.catalog__inner-aside {
  width: 24%;
}

.catalog__inner-content {
  width: 76%;
}

.catalog__content {
  padding-left: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__title_slider {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  padding-left: 32px;
  margin-bottom: 27px;
}

.catalog__title_slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("./../img/icons/like.svg");
}

.catalog__slider {
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 44px;
}

.catalog__slider_btn {
  display: block;
  background: rgba(4, 78, 244, 0.2);
  background-image: url("./../img/icons/arow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  position: absolute;
  right: -22px;
  top: 33%;
  border-radius: 50%;
}

.catalog__pages-list {
  display: flex;
}

.catalog__wrapper_pages {
  width: 300px;
}

.catalog__pages_dotted {
  display: inline-block;
  width: 5%;
  height: 55%;
  border-bottom: 1px dotted;
  margin-right: 12px;
}

.catalog__pages_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 24px;
  height: 24px;
}

.catalog__pages_item_active {
  border-radius: 50%;
  background-color: rgba(4, 78, 244, 0.2);
}

.catalog__pages_item:last-child {
  margin-right: 48px;
}

.catalog-mobile {
  display: none;
}

.filter__wrapper_title {
  display: flex;
  justify-content: space-between;
}

.filter__car {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}
.filter__car_item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.filter__car .car__item_title {
  font-size: 18px;
  line-height: 22px;
  color: #044EF4;
}
.filter__car .car__item_number {
  font-size: 18px;
  line-height: 22px;
}

.filter__inner_default {
  background: transparent;
  border: 1px solid #BEBEBE;
  width: 160px;
  height: 32px;
  font-size: 14px;
  line-height: 17px;
}

.filter__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.car__item_dotted {
  display: inline-block;
  width: 90%;
  height: 55%;
  border-bottom: 1px dotted;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 308px;
  height: 410px;
  padding-bottom: 40px;
  margin: 20px 0;
}

.card__img {
  border-radius: 10px;
  background-image: url("./../img/catalog_car/card_1/lada_vesta_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;
}
.card__img_1 {
  background-image: url("./../img/slider/x_ray.jpg");
}
.card__img_2 {
  background-image: url("./../img/slider/lada.jpg");
}
.card__img_3 {
  background-image: url("./../img/slider/vesta.jpg");
}

.card__title {
  margin: 0;
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__text {
  margin: 0;
  margin-top: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.card__prices {
  padding: 12px 0 16px 0;
  display: flex;
  justify-content: space-between;
}

.card__price {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.card__prices-city {
  display: flex;
}

.card__slide {
  margin: 0 auto;
  width: 220px;
  margin-top: 164px;
}

.card__slide_item {
  display: inline-flex;
  width: 40px;
  height: 4px;
  background: rgba(205, 205, 205, 0.4);
  border-radius: 10px;
  cursor: pointer;
}

.card__slide_item_active {
  background-color: #044EF4;
}

.card__slider {
  height: 273px;
  width: 308px;
}

.card__descr {
  color: #848484;
  font-size: 18px;
  line-height: 22px;
}

.aside-filter {
  padding-right: 20px;
}

.aside__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.select {
  background: transparent;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  margin: 6px 0;
}

.aside__price {
  display: flex;
}

.aside__input {
  width: 50%;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  border: 1px solid #BEBEBE;
}

.aside__jears {
  display: flex;
}

.aside__input_popular {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.aside__input_popular > input {
  height: 20px;
  width: 20px;
}

.contacts {
  background: url("./../img/bottom_background_1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 80px;
}

.contacts__wrapper {
  position: relative;
  margin-right: 120px;
}

.contacts__wrapper::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 88%;
  display: block;
  background-color: #BEBEBE;
  top: 126px;
  right: 0;
}

.contacts__container {
  display: flex;
}

.contacts__title {
  width: 630px;
  background-color: #044EF4;
  height: 126px;
  font-weight: 700;
  font-size: 40px;
  line-height: 78px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-top: 29px;
  position: relative;
}
.contacts__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  left: 35px;
  background-color: #FFFFFF;
  width: 40px;
  height: 5px;
}
.contacts__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: -10px;
  background: #393B40;
  border-radius: 0px 2px 2px 0px;
  width: 10px;
  height: 42px;
}

.contacts__descr {
  margin-top: 32px;
}

.contacts__descr_title {
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 24px;
}

.contacts__descr_item {
  font-size: 18px;
  line-height: 28px;
}

.contacts__descr {
  display: flex;
}

.contacts__descr_container {
  margin-right: 150px;
}

.contacts__adress_title {
  font-size: 20px;
  line-height: 31px;
}

.contacts__adress_text {
  max-width: 210px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 31px;
}

.contacts__adress_phone {
  display: block;
  margin-top: 40px;
  font-size: 20px;
  line-height: 31px;
}

.contacts__adress_email {
  margin-top: 12px;
  font-size: 20px;
  line-height: 31px;
}

.contacts__call {
  max-width: 430px;
  display: flex;
  flex-direction: column;
}
.contacts__call_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.contacts__call_name {
  margin-top: 35px;
  font-size: 16px;
  line-height: 19px;
}
.contacts__call_input {
  margin-top: 8px;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 20px;
  border: 1px solid #C2C4CC;
  border-radius: 5px;
}

.contacts__adress_line {
  position: relative;
}

.contacts__adress_line::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 2px;
  top: 15px;
  left: -100px;
  background-color: #044EF4;
}

.car {
  padding-top: 23px;
}

.car__header {
  display: flex;
  justify-content: space-between;
}
.car__header_title {
  margin-top: 28px;
  font-size: 40px;
  line-height: 48px;
}

.car__header_price-city {
  margin-right: 16px;
  margin-top: 25px;
}

.car__header_subtitle {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  color: #BEBEBE;
  margin-bottom: 24px;
  margin-top: 4px;
}

.car__header_subtitle p {
  margin-right: 34px;
}

.car__header_price {
  display: flex;
}

.car__main {
  display: flex;
}

.car__main_content {
  width: 850px;
  margin-right: 16px;
}

.car__main_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.img__item-main {
  width: 630px;
  height: 400px;
  grid-row: 1/4;
  grid-column: 1/4;
}

.car__header_price_text {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.car__wrapper_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.car__header_slash {
  font-size: 14px;
}

.car__descr {
  width: 30%;
}

.car__descr_title h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.car__descr_list {
  margin-top: 16px;
}

.car__descr_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.car__descr_item_title {
  font-size: 20px;
  line-height: 24px;
  color: #7F8187;
}

.car__descr_item_subtitle {
  width: 200px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.car__descr_title_feature {
  margin-top: 24px;
}

.car__main_content {
  padding-bottom: 17px;
  border-bottom: 1px solid #D9D9D9;
}

.car__main_descr_title {
  margin-top: 36px;
}

.car__main_descr_text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.car__main_descr_btn {
  display: flex;
  justify-content: flex-end;
}

.similar {
  padding-top: 36px;
  padding-bottom: 80px;
}

.similar__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  position: relative;
}

.similar__title:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: -25px;
  background-image: url("./../img/icons/suqare.svg");
}

.header {
  background-color: #044EF4;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__navigation {
  margin-right: 33px;
}
.header__contacts {
  display: flex;
}
.header__messager {
  margin-left: 44px;
}

.header__container_mobile {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.layouts-2-columns-30-70 {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #03329E;
  padding: 80px;
}

.footer__container {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
}

@media (max-width: 321px) {
  .container {
    max-width: 300px;
  }
  .header__container {
    display: none;
  }
  .header__container_mobile {
    display: block;
    background-color: #044EF4;
  }
}
@media (max-width: 321px) {
  .hamburger {
    width: 24px;
  }
  .hamburger_line {
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 20px;
  }
  .logo-object {
    width: 41%;
  }
  .header__container_mobile {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__mobile_search {
    width: 24px;
    height: 24px;
    background-image: url("./../img/icons/search.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}
@media (max-width: 321px) {
  .catalog {
    display: none;
  }
  .catalog-mobile {
    display: block;
  }
}
.catalog-mobile__choice {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px 1px rgba(5, 11, 24, 0.1);
  border-radius: 5px;
  margin-bottom: 25px;
}

.catalog-mobile__container {
  display: flex;
  flex-direction: column;
}

.catalog-mobile__filter_model {
  border-bottom: 1px solid #BEBEBE;
  border-radius: 10px;
}
.catalog-mobile__filter_model:last-child {
  border: none;
}
.catalog-mobile__filter_model_title {
  margin-left: 12px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #848484;
}

.catalog-mobile__selected {
  display: flex;
  column-gap: 9px;
  flex-wrap: wrap;
}

.catalog-mobile__selected_item {
  width: 82px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  background: #044EF4;
  border-radius: 2px;
  padding: 4px;
  color: #FFFFFF;
  position: relative;
}

.catalog-mobile__selected_item::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/close.svg");
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
  top: 4px;
  right: 5px;
}

.catalog-mobile__title {
  margin-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.catalog-mobile__content_item {
  margin: 14px 0;
}

.catalog-mobile__content_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}

.catalog-mobile__content_subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.catalog-mobile__descr {
  display: flex;
}

.catalog-mobile__descr_wrapper {
  width: 50%;
  margin-top: 12px;
}

.catalog-mobile__descr_item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7F8187;
  margin-bottom: 4px;
}

.button-mobile_show-more {
  display: block;
  width: 100%;
  color: #FFFFFF;
  border: none;
  padding: 20px 0;
  background-color: #FF0000;
  border-radius: 10px 10px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 321px) {
  .contacts {
    display: none;
  }
}
@media (max-width: 321px) {
  .footer {
    display: none;
  }
}
.button-mobile {
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Tilda Sans", sans-serif;
  width: 300px;
  display: block;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #BEBEBE;
  border-radius: 10px;
}

.button-mobile_choice {
  position: relative;
}
.button-mobile_choice::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("./../img/icons/car.svg");
  top: 8px;
  right: 14px;
}

.button-mobile_options {
  position: relative;
}
.button-mobile_options::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("./../img/icons/setting.svg");
  top: 8px;
  right: 14px;
}

.button-mobile_model {
  padding: 3px 12px 5px 12px;
  position: relative;
}

.button-mobile_model::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("./../img/icons/close.svg");
  background-color: rgba(4, 78, 244, 0.2);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
  top: -6px;
  right: 14px;
}

.button-mobile_descr {
  margin-top: 23px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #848484;
  border-radius: 1px;
}
.button-mobile_descr_active {
  font-weight: 500;
  border: 2px solid #044EF4;
  border-radius: 1px 0px 0px 1px;
}

/*# sourceMappingURL=style.css.map */
