.footer {

    background-color: #03329E;
    padding: 80px;
}
.footer__container {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer__text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.7;
}